.chat {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  color: #ea00ff;
  border-radius: 30px;
  flex: 0.6;
  max-width: 70%;
  min-width: 70%;
}

.chat__header {
  height: 5vh;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(212, 212, 212);
  background-color: #282828;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 8000;
  font-size: larger;
}

.chat__headerInfo > p {
  color: #b400c5;
  font-size: small;
}

.chat__body {
  flex: 1;
  padding: 30px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #282828;
}

.chat > aside.emoji-picker-react {
  width: 100%;
  height: 30%;
}

.chat .emoji-picker-react .emoji-group:before {
  position: static;
}

.chat aside.emoji-picker-react .content-wrapper:before {
  display: none;
}

.chat__hide {
  display: none;
}

.chat__message {
  font-size: 15px;
  padding: 5px;
  width: 40%;
}

.chat__timestamp {
  margin-left: 5px;
  font-size: x-small;
}

.chat__name {
  top: -10px;
  font-weight: 800;
  font-size: medium;
  padding: 5px;
}

.null__messages {
  color: black;
}

.chat__msg {
  padding: 7px 0px 7px 15px;
  min-width: 50%;
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 4px rgba(208, 207, 207, 0.313);
  word-wrap: break-word;
  word-break: break-all;
}

.chat__receiver {
  padding: 7px 0px 7px 15px;
  margin-left: auto;
}

.chat__receiver > .chat__msg {
  margin: 2px;
  padding: 10px;
  min-width: 50%;
  max-width: 90%;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #ea00ff;
  box-shadow: 1px 5px 8px 1px rgba(77, 77, 77, 0.313);
  color: white;
}

.chat__footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  border-top: 1px solid rgb(211, 211, 211);
  background-color: #282828;
}

.chat__footer > form {
  flex: 1;
  display: flex;
  border: 3px solid #ea00ff;
  
  background-color: #282828;
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
}

.chat__footer > form > input {
  background-color: #282828;
  border: none;
  outline-width: 0;
  color: #ea00ff;
  width: 80%;
}

.chat__footer > form > input::placeholder {
  color: #ea00ff;
}

.chat__footer > form > button {
  display: none;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: #ea00ff;
}

.chat__search {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat__searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px;
  margin: 5px;
  border: 3px solid #ea00ff;
  border-radius: 20px;
}

.chat__searchContainer > .MuiSvgIcon-root {
  border-radius: 30px;
  color: #ea00ff;
  padding: 10px;
}

.chat__searchContainer > .MuiSvgIcon-root:hover {
  cursor: pointer;
}

.chat__searchContainer > input {
  color: #ea00ff;
  background-color: #282828;
  border: none;
  margin-right: 5px;
  outline-width: 0;
  width: 100%;
}

.chat__searchContainer > input::placeholder {
  color: #ea00ff;
}
