.add-button {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ea00ff;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.add-button:hover {
  color: #ea00ff;
  background-color: #000000;
}

.popup-content {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.popup-content input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid gray;
  outline: none;
  background-color: #2a2929;

  border: 3px solid #000;
  border-radius: 15px;
  height: 50px;
  line-height: normal;
  color: #ea00ff;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
}

.popup-content input::placeholder {
  color: #ea00ff;
}

.popup-content input:focus {
  border: 3px solid #ea00ff;
}

.popup-content button {
  padding: 5px 10px;
  border: none;
  background-color: #ea00ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
