.Bar-main {
  background-color: #282828;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0.07;
}

.Setting {
  color: #ea00ff;
  margin-bottom: 10px;
}

.UserDp,
.UserName {
  text-align: center;
  color: #ea00ff;
}

.UserDp:hover,
.Setting:hover {
  cursor: pointer;
  transform: scale(1.5);
  
}
