.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 0.1px solid #282828;
  flex: 0.5;
  overflow: auto;
  position: relative;
  background-color: #282828;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  background-color: #282828;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: #282828;
  width: 100%;
  padding: 1px;
  margin: 5px;
  height: 35px;
  border: 3px solid #ea00ff;
  border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  border-radius: 30px;
  color: #ea00ff;
  padding: 10px;
}

.sidebar__searchContainer > .MuiSvgIcon-root:hover {
  cursor: pointer;
}

.sidebar__searchContainer > input {
  background-color: #282828;
  color: #ea00ff;
  border: none;
  margin-right: 5px;
  outline-width: 0;
  width: 100%;
}

.sidebar__searchContainer > input::placeholder {
  color: #ea00ff;
}

.sidebar__chats {
  flex: 1;
  background-color: #282828;
  overflow: auto;
  border-top: 8px solid #ea00ff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-left: 2px solid #ea00ff;
  border-right: 2px solid #ea00ff; */
}

.sidebar__chats::-webkit-scrollbar {
  display: none;
}

.collection__number {
  font-size: 15px;
}

.sorting__bar {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: space-around;
}

.add__contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add__contact__text {
  font-size: 15px;
  margin-right: 10px;
}

.add__contact__button {
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  align-content: center;
  display: flex;
  justify-content: center;
  background-color: #ea00ff;
}

.add__contact__button > .MuiSvgIcon-root {
  color: white;
  font-size: 20px;
  padding: 3px;
  flex: 1;
  background-color: #ea00ff;
  overflow: auto;
  border-radius: 15px;
}

.add__contact__button > .MuiSvgIcon-root:hover {
  cursor: pointer;
}
